<app-nav-bar-admin></app-nav-bar-admin>
<div class="main-container px-5" style="margin-top: 70px;">
  <div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-30">

    <div class="xs-pd-20-10 pd-ltr-20">
      <a class="row pb-10">
        <a href="" class="col-xl-3 col-lg-3 col-md-6 mb-20">
          <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
              <div class="widget-data">
                <div class="weight-700 font-24 text-dark">15</div>
                <div class="font-14 text-success weight-500">
                  Utlisateurs
                </div>
              </div>
              <div class="widget-icon">
                <div class="icon" style="color: #00eccf;">
                  <i class="icon-copy fa fa-users"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="" class="col-xl-3 col-lg-3 col-md-6 mb-20">
          <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
              <div class="widget-data">
                <div class="weight-700 font-24 text-dark">5</div>
                <div class="font-14 text-success weight-500">
                  Vendeurs
                </div>
              </div>
              <div class="widget-icon">
                <div class="icon" style="color: #ff5b5b;">
                  <span class="icon-copy ti-bag"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="" class="col-xl-3 col-lg-3 col-md-6 mb-20">
          <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
              <div class="widget-data">
                <div class="weight-700 font-24 text-dark">10</div>
                <div class="font-14 text-success weight-500">
                 Clients
                </div>
              </div>
              <div class="widget-icon">
                <div class="icon">
                  <i
                    class="icon-copy fa fa-user"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="" class="col-xl-3 col-lg-3 col-md-6 mb-20">
          <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
              <div class="widget-data">
                <div class="weight-700 font-24 text-dark">20</div>
                <div class="font-14 text-success weight-500">Produits</div>
              </div>
              <div class="widget-icon">
                <div class="icon"  style="color:#09cc06;">
                  <i class="icon-copy ti-truck" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </a>
    </div>
    <div class="title pb-20">
      <h2 class="h3 mb-0">Graphiques </h2>
    </div>
    <div class="row pb-10 col-md-12">
      <!-- Compliance Trend Chart -->
      <div class="col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3" style="box-shadow: 0 4px 8px rgba(232, 195, 8, 0.1); border-radius: 15px;">
          <canvas id="compliance-trend"></canvas>
        </div>
      </div>

      <!-- Records Chart -->
      <div class=" col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
          <canvas id="records-chart"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>



<app-footer></app-footer>
