<app-chargement ></app-chargement>

<div>
  <div class="login-header box-shadow">
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <div class="brand-logo">
        <a  class="navbar-brand"><h1 class="text-success display-6">SEENTOOL</h1></a>

      </div>
      <div class="login-menu">
        <ul>
          <li><a routerLink="/login" class="text-success">Se connecter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="../assets/assets/src/images/forgot-password.png" alt="" />
        </div>
        <div class="col-md-6">
          <div class="login-box bg-white box-shadow border-radius-10">
            <div class="login-title">
              <h2 class="text-center text-success">Recupération Mot de passe</h2>
            </div>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
              <div *ngIf="message" class="alert alert-info mt-3">
                {{ message }}
              </div>
              <div class="input-group custom">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  formControlName="email"
                  id="email"
                />
                <div class="input-group-append custom">
                  <span class="input-group-text"
                    ><i class="icon-copy dw dw-user1"></i
                  ></span>
                </div>
              </div>
              <div class="input-group custom">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="********"
                  formControlName="password"
                  id="password"
                />
                <div class="input-group-append custom">
                  <span class="input-group-text"
                    ><i class="dw dw-padlock1"></i
                  ></span>
                </div>
              </div>
              <div class="input-group custom">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="********"
                  formControlName="password_confirmation"
                  id="password_confirmation"
                />
                <div class="input-group-append custom">
                  <span class="input-group-text"
                    ><i class="dw dw-padlock1"></i
                  ></span>
                </div>
                <div *ngIf="resetPasswordForm.errors?.['mismatch']" class="text-danger">
                  Les mots de passe ne correspondent pas.
                </div>
              </div>
              <div class="mb-3" style="display: none;">
                <label for="token" class="form-label">Token</label>
                <input type="text" class="form-control" formControlName="token" readonly>
              </div>
              <div class="row align-items-center">
                <div class="col-5">
                  <div class="input-group mb-0">

                    <button [disabled]="!resetPasswordForm.valid"
                    type="submit" class="btn btn-success text-light"
                      >
                      Reinitialiser

                      </button
                    >

                    <div *ngIf="message" class="alert alert-info mt-3">
                      {{ message }}
                    </div>

                  </div>
                </div>
                <div class="col-2">
                  <div
                    class="font-16 weight-600 text-center"
                    data-color="#707373"
                  >
                    OR
                  </div>
                </div>
                <div class="col-5">
                  <div class="input-group mb-0">
                    <a
                      class="btn btn-outline-success btn-lg btn-block text-success"
                      routerLink="/login"
                      >Connexion</a
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

