<app-nav-bar-vendeur></app-nav-bar-vendeur>
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Mes commandes</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Commandes</a></li>
    <li class="breadcrumb-item active text-white">Mes commandes</li>
  </ol>
</div>
<div class="container-fluid py-5">
  <div class="container py-5">
    <h1>Etat des Commandes</h1>
    <div class="table-responsive">
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Numero Commande</th>
            <th scope="col">Nom</th>
            <th scope="col">Details</th>
            <th scope="col">Total Commande</th>
            <th scope="col">Adresse</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes">
            <td>{{ commande.numero_commande }}</td>
            <td>{{ commande.client.name }}</td>
            <td>{{ commande.client.telephone }}</td>
            <td>{{ commande.montant_total }} XOF</td>
            <td>{{ commande.client.adresse }}</td>
            <td>
              <!-- Bouton "Expédié" visible uniquement si la commande est marquée comme expédiée -->
              <button class="btn btn-sm btn-success" *ngIf="estExpedie(commande.id)">
                Expédié
              </button>
              
              <!-- Bouton "Marquer comme expédié" masqué une fois que la commande est expédiée -->
              <button class="btn btn-sm btn-info" *ngIf="!estExpedie(commande.id)" (click)="marquerCommeExpedie(commande.id)">
                Marquer comme expédié
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
