<app-nav-bar-vendeur></app-nav-bar-vendeur>
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Checkout</h1>
  <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item active text-white">Checkout</li>
  </ol>
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
      <h1 class="mb-4"> Ajouter Annonces</h1>
      <form action="#">
          <div class="row g-5">
              <div class="col-md-12 col-lg-6 col-xl-7">
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="form-item w-100">
                              <label class="form-label my-3">produit<sup>*</sup></label>
                              <select formControlName="statut" class="form-control " id="statutInput">
                                <option value="tomate">Tomate</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Prix<sup>*</sup></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="form-item w-100">
                              <label class="form-label my-3">Quantite<sup>*</sup></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>

                      <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Description<sup>*</sup></label>
                              <textarea name="" id="" class="form-control"></textarea>
                        </div>
                    </div>
                  </div>

                  <button
                  type="submit"
                  class="btn btn-success mt-3 offset-10"
                >
                  Annoncer
                </button>
              </div>
              <div class="col-md-12 col-lg-6 col-xl-5">
                <h2>Liste Des Produits qui existent </h2>
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">Photo</th>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Libelle</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row">
                                      <div class="d-flex align-items-center mt-2">
                                          <img src="../assets/assets/img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                      </div>
                                  </th>
                                  <td class="py-5">Awesome Brocoli</td>
                                  <td class="py-5">$69.00</td>

                              </tr>


                          </tbody>
                      </table>
                  </div>


              </div>
          </div>
      </form>
  </div>
</div>
<!-- Checkout Page End -->
