  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-success mb-0">SEENTOOL</h1>
                        <p class="text-warning mb-0">Produits Frais</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-200 py-4 px-3 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-success border-0 border-warning py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Abonnez</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-warning me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-warning me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-warning me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-warning btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Pourquoi les gens nous aiment !</h4>
                    <p class="mb-4">typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                    <a href="" class="btn  btn-outline-warning border-warning py-2 px-4 rounded-pill text-success">Lire Plus</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item" >
                    <h4 class="text-light mb-3">Info Boutique</h4>
                    <a class="btn-link" style="text-decoration: none;" href="">Qui sommes-nous</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Contactez Nous</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Politique de confidentialité</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Termes et conditions</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Politique de retour</a>
                    <a class="btn-link" style="text-decoration: none;" href="">FAQ et aide</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Compte</h4>
                    <a class="btn-link" style="text-decoration: none;" href="">Mon compte</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Détails de la boutique</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Panier d'achat</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Liste de souhaits</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Historique des commandes</a>
                    <a class="btn-link" style="text-decoration: none;" href="">Commandes internationales</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Address: Parcelles Assainies Unite 1</p>
                    <p>Email: seentool2024@gmail.com</p>
                    <p>Phone: +221 779816117</p>
                    <p>paiement Accepté</p>
                    <img src="../assets/assets/img/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
